/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    /*content: none;*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/
/****-----start-body----****/

body a, form li, .submit input[type="submit"], .new h3 a, .new h4 a {
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
}

body h1 {
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 2.9em;
}

.login-bg{
    background: #0076ab;
    font-family: 'Open Sans', sans-serif;
}


.login-page h2 {
    color: #fff;
    text-align: center;
    padding: 0.6em 0;
    font-size: 1.6em;
    font-weight: 300;
}

.login-page {
    width: 24%;
    margin: 0 auto;
    text-align: center;
    background: #2c3b48;
    padding: 2em;
}

.location {
    padding: 1em 0;
}

.line {
    position: relative;
}

.line span {
    position: absolute;
    top: 10%;
    left: 39%;
    background: #5b5c61;
    height: 1px;
    width: 20%;
}

form {
    padding: 0 1%;
}

/*-----*/
.location img {
    margin: 1em 0;
}

.login-page input[type="text"], .login-page input[type="password"] {
    width: 81.2%;
    padding: 1.1em 1em 1.1em 4em;
    color: #858282;
    font-size: 16px;
    outline: none;
    font-weight: 500;
    border: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    margin: 0.7em 0;
    background: url("../images/icons.png") no-repeat 14px 16px #474a55;
}

.login-page input[type="password"] {
    background: url("../images/icons.png") no-repeat 13px -61px #474a55;
}

.submit {
    margin: 1em 0;
}

.login-page input[type="submit"] {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 17px 15px;
    width: 100%;
    border: 3px solid #0bd38a;
    background: #0bd38a;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}

input[type="submit"]:hover {
    background: none;
    border: 3px solid #0bd38a;
    color: #0bd38a;

}

.new {
    margin: 4em 0 1em 0;
}

.new h3 {
    float: left;
}

.new h3 a, .new h4 a {
    color: #78797C;
    font-weight: 400;
    font-size: 1em;
}

.new h3 a:hover, .new h4 a:hover {
    text-decoration: underline;
}

.new h4 {
    float: right;
}

/*---------------*/
.copy-right {
    padding: 3em 1em;
}

.copy-right p {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

.copy-right p a {
    color: #323542;
}

.copy-right p a:hover {
    text-decoration: underline;
}

/*-----start-responsive-design------*/
@media (max-width: 1440px) {
    .login-page {
        width: 30%;
    }

    .login-page input[type="text"], .login-page input[type="password"] {
        width: 82.2%;

    }
}

@media (max-width: 1366px) {
    .login-page {
        width: 34%;
    }

    .login-page input[type="text"], .login-page input[type="password"] {
        width: 82.7%;
    }

    .line span {
        position: absolute;
        top: 10%;
        left: 39%;
        background: #5b5c61;
        height: 1px;
        width: 20%;
    }

    body h1 {
        font-size: 2.6em;
    }

}

@media (max-width: 1280px) {
    .login-page {
        width: 37%;
    }

}

@media (max-width: 1024px) {
    .login-page {
        width: 47%;
    }

}

@media (max-width: 768px) {
    body h1 {
        font-size: 2.4em;
    }

    .location img {
        margin: 2em 0;
        width: 59%;
    }

    .login-page h2 {
        padding: 0.8em 0;
        font-size: 1.6em;
    }

    .line span {
        top: 10%;
        left: 39%;
        height: 1px;
        width: 20%;
    }

    .login-page {
        width: 63%;
    }

    .copy-right {
        padding: 1em 1em;
    }

}

@media (max-width: 640px) {
    body h1 {
        font-size: 2.1em;
    }

    .login-page {
        width: 69%;
    }

    .login-page input[type="text"], .login-page input[type="password"] {
        width: 81%;
    }
}

@media (max-width: 480px) {

    .login-page {
        width: 90%;
        padding: 2em 1em 1em 1em;
    }

    .copy-right p {
        font-size: 0.9em;
    }

    .new h3 a, .new h4 a {
        font-size: 0.9em;
    }

    form {
        width: 82%;
        margin: 0 auto;
    }

    .login-page input[type="text"], .login-page input[type="password"] {
        width: 76.8%;
        margin: 0.4em 0;
    }
}

@media (max-width: 320px) {
    .login-page {
        width: 87%;
        padding: 2em 1em 1em 1em;
    }

    body h1 {
        font-size: 1.5em;
    }

    .copy-right p {
        font-size: 0.85em;
        line-height: 1.7em;
    }

    .login-page input[type="text"], .login-page input[type="password"] {
        width: 68%;
        padding: 1em 1em 1em 4em;
        font-size: 15px;
        background: url("../images/icons.png") no-repeat 14px 17px #474a55;
        background-size: 11%;
    }

    .login-page input[type="password"] {
        background: url("../images/icons.png") no-repeat 14px -41px #474a55;
        background-size: 11%;
    }

    .login-page h2 {
        padding: 0.5em 0;
        font-size: 1.2em;
    }

    .new h3 a, .new h4 a {
        font-size: 0.75em;
    }

    .new {
        margin: 2em 0 1em 0;
    }

    .line span {
        top: 10%;
        left: 35%;
        height: 1px;
        width: 29%;
    }

    .submit {
        margin: 0.5em 0;
    }

    .login-page input[type="submit"] {
        font-size: 18px;
        padding: 11px 11px;
    }

    form {
        width: 87%;
        margin: 0 auto;
    }
}

/********************** adminIndex page  start*********************8*/
.sticky-header{
    background: #2C3B48;
    font-family: 'Open Sans', sans-serif;
    color: #878686;
    line-height: 20px;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/******************************************
   left menu
*******************************************/

.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}
.left-side {
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
}
.logo {
    text-align: center;
    margin: 10px 0 20px;
    padding-top: 5px;
    height: 50px;
}
.logo a {
    font-size: 28px;
    color: #fff;
    margin: 16px 0 0 0;
    text-decoration: none;
    display: inline-block;
}
.logo a >img{
    width: 180px;
}

.logo-icon {
    display: none;
}
.left-side-inner {
    padding: 0;
    margin-bottom: 50px;
}
.custom-nav {
    margin-bottom: 10px;
}
.custom-nav > li > a {
    color: #d8d4d4;
    padding: 12px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-nav > li.nav-active > ul {
    display: block;
}
.custom-nav .sub-menu-list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background: #283541;
}
.custom-nav .sub-menu-list > li.active > a {
    color: #FFF;
    background-color: #2A323F;
}

.custom-nav .sub-menu-list > li > a {
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 10px 5px 10px 50px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
/********************************************
    right main content
*********************************************/


.sticky-header .main-content {
    padding-top: 50px;
}

.main-content {
    margin-left: 240px;
    background: #ECECED;
}

.sticky-header .header-section {
    position: fixed;
    top: 0;
    left: 240px;
    width: 100%;
    z-index: 100;
}
.header-section {
    background: #fff;
    border-bottom: 1px solid #eff0f4;
}

.toggle-btn {
    width: 52px;
    height: 50px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    float: left;
    color: #212121;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.searchform input {
    box-shadow: none;
    float: left;
    font-size: 14px;
    height: 35px;
    margin: 7px 0 0 10px;
    padding: 10px;
    width: 220px;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #c5bebe;
}
.sticky-header .menu-right {
    margin-right: 255px;
}
.menu-right {
    float: right;
    margin-right: 15px;
}
.notification-menu {
    list-style: none;
}
.notification-menu > li {
    display: inline-block;
    float: left;
    position: relative;
}
.notification-menu .info-number {
    padding: 12px 15px;
    height: 50px;
    font-size: 16px;
    background: #fff;
    color: #333;
    border-color: #fff;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.info-number .badge {
    background: #F86A5E;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 4px;
    top: 10px;
}

.dropdown-menu-head .title {
    background: #F2F2F2;
    color: #292626;
    padding: 15px;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}
.notification-menu .dropdown-toggle {
    padding: 12px 10px;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}
.btn-default {
    background: #f8f8f8;
    border: 1px solid #e4e7ea;
}
.btn {
    border-radius: 0;
}

.notification-menu .dropdown-toggle:hover,
.notification-menu .dropdown-toggle:focus,
.notification-menu .dropdown-toggle:active,
.notification-menu .dropdown-toggle.active,
.notification-menu .open .dropdown-toggle.dropdown-toggle {
    background: #f3f3f3;
    color: #171616;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.notification-menu .dropdown-menu-usermenu li {
    padding: 0;
}
.notification-menu .dropdown-menu li {
    display: block;
    margin: 0;
    float: none;
    background: none;
    padding: 0;
}
.notification-menu .dropdown-toggle img {
    vertical-align: middle;
    margin-right: 5px;
    width: 26px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.wrapper {
    padding: 15px;
}

.page-title-box {
    margin: -20px -15px 20px -15px;
    padding: 20px;
    box-shadow: 0 0 24px 0 , 0 1px 0 0 ;
    background-color: #ffffff;
}
.page-title-box .page-title {
    margin: 0;
    float: left;
    font-size: 20px;
}
.page-title-box .breadcrumb {
    background-color: transparent !important;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    border-radius: 0;
    float: right;
}