
/*----------全局-----------*/
* {
    margin: 0;
    padding: 0
}

/*星号是通配符，约束所有容器，box-sizing约定容器的计算规则
content-box是默认值，容器根据margin和border向外扩展
border-box是约定width就是最大大小，margin和border向内侵占
真正的内容所占的空间会被压缩*/
* {
    -webkit-box-sizing: border-box;/* Chrome */
    -moz-box-sizing: border-box;/* Firefox */
    box-sizing: border-box
}

html, body {
    min-height: 100%
}

body {
    font-size: 14px;
    color: #333;
    background: #fff;
    position: relative;
    font-family: Helvetica, Pingfang SC, Microsoft YaHei, STHeiti, Verdana, Arial, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

ul, ol {
    list-style: none
}

img {
    border: none;
    vertical-align: middle
}

a {
    color: #666;
    text-decoration: none
}

a:visited {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #666;
    text-decoration: none
}

a:active {
    color: #666;
    text-decoration: none
}

table {
    border-collapse: collapse; /*表格的边框是否被合并为一个单一的边框*/
    /*用来约定表格的计算规则，固定模式
  auto	默认。列宽度由单元格内容设定。
  fixed	列宽由表格宽度和列宽度设定。
  inherit	规定应该从父元素继承 table-layout 属性的值。*/
    table-layout: fixed;

}

input, textarea {
    outline: none;
    border: none
}

textarea {
    resize: none;
    overflow: auto
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden
}
.w1440 {
    width: 1440px;
    margin: 0 auto;
}
/*----------头部-----------*/

header {
    background: white;
    position: relative;
    z-index: 9999;
    border-bottom: 2px solid blueviolet;
    height: 100px;
    box-sizing: border-box;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header .logo {
    height: 99px;
    line-height: 99px;
    font-size: 0;
    margin-left: 30px;
}
.logo {
    padding-left: 0;
    line-height: 100px;
    overflow: hidden;
}
.logo a {
    display: block;
}
.logo a img {
    height: 90px;
    max-width: 100%;
}

ul.nav {
    display: inline-flex;  /*inline-flex父元素默认会根据子元素的宽高去自适应*/
    flex: 1;
    padding-left: 50px;
}

li.nav-item {
    flex: 1;
}


.nav-item ul li a span{
    display: block;
}

.header nav ul li a span.ch{
    padding-top: 28px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    color: #333333;
}
.header nav ul li a span.en{
    font-size: 12px;
    color: #999999;
    font-family: "Arial";
    text-transform: uppercase;
}

li.nav-item > a {
    display: block;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    position: relative;
}


li.nav-item > a::before {
    display: none;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-width: 0 20px 5px;
    border-style: solid;
    border-color:   blueviolet;
    position: absolute;
}

li.nav-item:hover > a, li.nav-item.active > a {
    color: #119f0f;
}


li.nav-item:hover > a::before, li.nav-item.active > a::before {
    display: block;
}


/* 二级菜单 */
.subMenu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}

.subMenu > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subMenu > ul > li > a {
    display: block;
    padding: 0 18px;
    text-align: center;
    line-height: 50px;
    color: black;
}
.subMenu > ul > li > a:hover {
    color: red
}
/*----------navSub------- -*/

/*----------中部-----------*/


/*----------脚部-----------*/


