

/*----------全局-----------*/

/*星号是通配符，约束所有容器，box-sizing约定容器的计算规则
content-box是默认值，容器根据margin和border向外扩展
border-box是约定width就是最大大小，margin和border向内侵占
真正的内容所占的空间会被压缩*/
* {
    -webkit-box-sizing: border-box;/* Chrome */
    -moz-box-sizing: border-box;/* Firefox */
    box-sizing: border-box
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100%
}
body{
    color: #474747;
    margin: 0 auto;
    background: #ffffff;
    min-width: 320px;
    font-size: 12px;
    line-height: 24px;
    font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
}
.h1, .h2, .h3 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

h4, h5, h6 {
    font-weight: normal
}


ul, ol {
    list-style: none
}
img {
    border: none;
    vertical-align: middle
}
ul, ol {
    list-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
i, em {
    font-style: normal;
}
table {
    border-collapse: collapse; /*表格的边框是否被合并为一个单一的边框*/
    /*用来约定表格的计算规则，固定模式
  auto	默认。列宽度由单元格内容设定。
  fixed	列宽由表格宽度和列宽度设定。
  inherit	规定应该从父元素继承 table-layout 属性的值。*/
    table-layout: fixed;

}
input, textarea {
    outline: none;
    border: none
}
textarea {
    resize: none;
    overflow: auto
}
.clearfix{
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
}

.container-fluid{
    background-color: white;

}
.w1230 {
    width: 1230px;
    margin: 0 auto;

}

.w1440 {
    width: 1440px;
    margin: 0 auto;
}
/*----------渐变效果----------*/
.tran300 {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.tran400 {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}






/*----------头部-----------*/

.logo{
    padding-left: 0;
    line-height: 100px;
}

.logo img{
    height: 90px;
}

header .pcNav ul a{
    color: #666;
    text-decoration: none
}

.header {
    background: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.header .pcNav {
    width: 70%;
    height:100px;
    padding-left: 50px;
}

.header .pcNav ul .nLi{
    width: 12%;
    float: left;
    display: inline-block;
    font-size: 16px;
    padding-top: 30px;
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
}
.header .pcNav ul li a{
    display: block;
}
.pcNav ul li a span{
    display: block;
}
.header ul li a span.ch{
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    color: #333333;
}
.header ul li a span.en{
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #999999;
    font-family: "Arial";
    text-transform: uppercase;
}


li.nLi > a {
    display: block;
    text-align: center;
    font-size: 16px;
    position: relative;
}


li.nLi > a::before {
    display: none;
    content: '';
    position: absolute;
    left: 50%;
    top: 65px;
    bottom: 0;
    transform: translateX(-50%);
    border-width: 0 30px 5px;
    border-style: solid;
    border-color: #0076ab;
    position: absolute;
}

li.nLi:hover > a, li.nLi.active > a {
    color: #0076ab;
}
li.nLi:hover > a::before, li.nLi.active > a::before {
    display: block;
}

/*----------navSub------- -*/
.navSub{
    display: none;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 3;
    background: #ffffff;
    box-shadow: 3px 1px 8px 0px #dedcdc;
}
.header .pcNav .nLi .navSub .wrap {
    padding: 25px 0;
    text-align: left;
    font-size: 0;

}

.header .pcNav .nLi .navSub .wrap ul {
    padding-left: 500px;
    display: inline-block;
    zoom: 1;
}
.header .pcNav .nLi .navSub .wrap ul li {
    margin: 0 18px;
    text-align: center;
}
.header .pcNav .nLi .navSub .wrap ul li a {
    display: block;
    font-size: 14px;
    line-height: 36px;
    color: #666666;
    text-align: left;
}

.header .pcNav .nLi .navSub .wrap ul li a:hover i:before{
    filter:alpha(opacity=0);
    opacity:0;
}
.header .pcNav .nLi .navSub .wrap ul li a:hover i:after{
    filter:alpha(opacity=100);
    opacity:1;}
.header .pcNav .nLi .navSub .wrap ul li a:hover{
    color: #0076ab;
}


    /*----------中部-----------*/


/*---------图片滚动栏-----------*/
/*-------------------
    HERO SLIDER
--------------------*/

.hero-slide .carousel-caption {
    bottom      : 50%;
    text-shadow : none;
    transform   : translateY(50%);
}

.hero-slide .carousel-caption h1 {
    font-size      : 60px;
    line-height    : 1;
    font-weight    : bold;
    text-transform : uppercase;
    color          : #ffffff;
}

.hero-slide .carousel-caption p {
    font-size   : 20px;
    color       : #ffffff;
    font-weight : normal;
}

.hero-slide .carousel-control.left,
.hero-slide .carousel-control.right {
    width       : 50px;
    height      : 50px;
    line-height : 46px;
    top         : 50%;
    margin-top  : -25px;
    background  : transparent;
    cursor      : pointer;
    border      : 2px solid #ffffff;
    text-shadow : none;
}

.hero-slide .carousel-control.left {
    left : 1%;
}

.hero-slide .carousel-control.right {
    right : 1%;
}

.hero-slide .carousel-indicators {
    bottom : 60px;
}

.hero-slide .carousel-indicators li {
    border : 2px solid #ffffff;
}

/*Media Query*/
@media screen and (max-width : 768px) {
    .hero-slide {
        margin-top : 60px;
    }

    .hero-slide .carousel-caption h1 {
        font-size : 24px;
    }

    .hero-slide .carousel-indicators {
        bottom : 20px;
    }

    .hero-slide .carousel-caption p {
        font-size : 12px;
    }
}


/*---------END-----------*/



/* -------------------
   Section Padding
   --------------------*/
.pt-100 {
    padding-top : 100px;
}



.ptb-50 {
    padding-top    : 50px;
    padding-bottom : 50px;
}

.ptb-60 {
    padding-top    : 60px;
    padding-bottom : 60px;
}

.ptb-70 {
    padding-top    : 70px;
    padding-bottom : 70px;
}
.ptb-90 {
    padding-bottom : 90px;
    padding-top    : 90px;
}

.ptb-100 {
    padding-top    : 100px;
    padding-bottom : 100px;
}

@media (min-width : 768px) {
    /*custom-padding class*/
    .pl-30 {
        padding-left : 30px;
    }

    .pr-30 {
        padding-right : 30px;
    }
}


/* --------------------
   Section Background
   -------------------*/

.gray-bg {
    background-color : #f9f9f9;
}

.gray2-bg {
    background-color: #eaeaea;
}

.white-bg {
    background-color : #fff;
}



/* ---------------------------------
    x-accordion
 ------------------------------------*/

.x-accordion-section{
    background: #f9f9f9;
}

.x-accordion .panel-group .panel+.panel {
    margin-top: 0px;
}

.x-accordion .panel-group {
    margin-bottom: 0;
}
.x-accordion .panel-default {
    border: 0;
}
.x-accordion .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 10px solid transparent;
    border-radius: 0;
    margin: 0;
}
.x-accordion .panel:last-of-type {
    border-bottom: 0;
}
.x-accordion .panel .panel-heading a {
    display: block;
    padding: 12px 30px;
    background: #fff;
    color: #31aae2;
    text-decoration: none;
}
.x-accordion .panel .panel-heading a.collapsed {
    color: #969595;
    background-color: #fff;
    padding: 12px 30px;
}
.x-accordion .panel-default>.panel-heading {
    border-radius: 0px;
    padding: 0;
}

.x-accordion .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding: 10px 30px 30px 30px;
    background: #fff;
    color: #969595;
}


@media screen and (max-width:768px){
    .x-accordion .panel-group{
        margin-bottom: 50px ;
    }
}


/*----------------------
 tabOne start
 -----------------------*/
.tabOne {}
.tabOne .nav-tabs {
    border: 1px solid #dedddd;
    border-bottom: none;
}
.tabOne .nav-tabs.nav-justified li {
    border-right: 1px solid #dedddd;
    border-bottom: 1px solid #dedddd;
}
.tabOne .nav-tabs.nav-justified li.active {
    border-bottom: 1px solid transparent;
}
.tabOne .nav-tabs.nav-justified li:last-child {
    border-right: 0;
}
.tabOne .nav-tabs.nav-justified>li>a {
    border: 0;
    border-radius: 0;
    background-color: #f9f9f9;
    color: #333333;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}
.tabOne .nav-tabs.nav-justified>.active>a,
.tabOne .nav-tabs.nav-justified>.active>a:focus,
.tabOne .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
    background-color: #0076ab;
    color: white;
    font-weight: bold;
}
/*media query*/

@media (min-width : 768px) {
    .tabOne .tab-content{
        height: 333px;
        border: 1px solid #dedddd;
        padding: 30px;
        border-top: 0;
        overflow: hidden;
    }
}

@media screen and (max-width : 600px) {
    .tabOne .tab-content{
        margin-top: 30px;
    }
}

.tabOne .tab-pane img {
    margin-top: 8px;
}
.tabOne .tab-pane img.pull-left {
    margin-right: 20px;
}
.tabOne .tab-pane img.pull-right {
    margin-left: 20px;
}
/*collapse in small devices*/
.tabOne .panel-body img{
    margin-top: 8px;
}
.tabOne .panel-body img.pull-left {
    margin-right: 20px;
}
.tabOne .panel-body img.pull-right {
    margin-left: 20px;
}

.tabOne .tab-pane p {
    margin-bottom: 15px;
}
.tabOne .tab-pane p:last-of-type {
    margin-bottom: 0;
}


/* --------------------------------------------------
 party-column
-----------------------------------------------------*/
.party-column {
    background-color: #dedddd;
    padding    : 100px 0 85px;
}

.party-column .section-title h2 {
    color : #333333;
}
.party-column .img-top {
    width: 1200px;height: 230px;
}

.party-column .img-left {
    margin-top : 20px;
}

@media (max-width : 992px) {
    .party-column .img-left {
        margin-bottom : 40px;
        margin-top    : 0px;
    }
}

.party-column .promo-icon {
    float        : left;
    margin-right : 25px;
    font-size    : 30px;
    color        : #9dd1f6;
}

.party-column .promo-content {
    color          : #333333;
    overflow       : hidden;
    border-bottom  : 1px solid rgba(157, 209, 246, 0.4);
    margin-bottom  : 20px;
    padding-bottom : 10px;
}

.party-column .promo-content.last-type {
    border-bottom  : 0;
    margin-bottom  : 0px;
    padding-bottom : 0px;
}

.party-column .promo-content h3 {
    font-size   : 15px;
    line-height : 26px;
    font-weight : 600;
    color       : #333333;
}

.party-column


/* -------------------
 Section Title Style
 --------------------- */
.section-title {
    margin-bottom : 50px;
}

.section-title h2 {
    font-size      : 30px;
    text-transform : capitalize;
    position       : relative;
}

.section-title span.bordered-icon {
    color       : #dadada;
    padding     : 0 10px;
    font-size   : 12px;
    line-height : 18px;
    position    : relative;
    display     : inline-block;
}

.section-title span.bordered-icon:before,
.section-title span.bordered-icon:after {
    content    : "";
    background : #dadada;
    width      : 50px;
    height     : 1px;
    top        : 8px;
    position   : absolute;
}

.section-title span.bordered-icon:before {
    left : 100%;
}

.section-title span.bordered-icon:after {
    right : 100%;
}
/*---------------------------
 Service section
 ---------------------------*/
.x-services .thumbnail {
    padding       : 0;
    line-height   : 24px;
    border        : 1px solid #f1f1f1;
    border-radius : 0;
    margin-bottom : 30px;
}

@media (min-width : 768px) {
    .x-services .thumbnail a > img,
    .x-services .thumbnail > img {
        float : left;
    }
}

@media (max-width : 767px) {
    .x-services .thumbnail a > img,
    .x-services .thumbnail > img {
        width : 100%;
    }
}

.x-services .thumbnail .caption {
    padding  : 30px;
    color    : #969595;
    overflow : hidden;
}

.x-services .thumbnail .caption h3 {
    font-size      : 15px;
    text-transform : capitalize;
    margin-bottom  : 5px;
}

.x-services .thumbnail .caption h3 a {
    color : #313131;
}

.x-services .thumbnail .caption h3 a:hover {
    color : #31aae2;
}

.x-services .thumbnail .caption p {
    margin : 0;
}





/*----------脚部-----------*/






.fTop{
    width: 100%;
    padding: 60px 0 50px;
    background-color: #f3f2f1;
}
.fTop .fTit {
    font-size: 18px;
    color: #333333;
    line-height: 35px;
    font-weight: normal;
    margin-bottom: 20px;
}
.fTop .item1{
    width: 520px;
    margin-right: 28px;
}

.fTop .item1 .tel {
    padding-left: 39px;
    line-height: 39px;
    font-size: 26px;
    color: #0076ab;
    background: url(../images/telIcon.png) no-repeat left 4px;
    font-family: "HELVETICABOLD";
}
.ifTop .item1 .tel em {
    margin: 0 6px;
}
.fTop .item2{
    width: 450px;
    padding-top: 52px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.fTop .item3{
    width: 208px;
}
.fTop .item3 .select {
    height: 30px;
    position: relative;
    width: 100%;
    margin-bottom: 33px;
    width: 208px;
}
.fTop .item3 .select dt {
    height: 28px;
    border: 1px solid #cdcdcd;
    background: #ffffff;
    line-height: 28px;
    padding-left: 10px;
    cursor: pointer;
    width: 195px;
    position: relative;
    z-index: 3;
    color: #666666;
    font-size: 14px;
}
.fTop .item3 .select dt i{
    width: 12px;
    height: 7px;
    position: absolute;
    right: 13px;
    top: 10px;
    background:url(../images/trangle.png) no-repeat center;
}


.fBtm {
    padding: 18px 0;
    background: #011622;
    font-size: 14px;
    color: #878787;
    line-height: 30px;
}


.fBtm a{
    text-decoration: none;
    color: inherit;
}


.fBtm ul li {
    padding-left: 21px;
    position: relative;
    font-size: 14px;
}

.fBtm ul li:before {
    content: "";
    width: 2px;
    height: 15px;
    background: #878787;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -6px;
}
