
/**************************************
    SECTIONS
**************************************/

.section {
    padding: 4rem 0;
    display: block;
    position: relative;
    background-color: #ffffff;
}


.center-side,
.left-side,
.right-side {
    float: left;
    width: 33.33333%;
}

.post-media img,
.masonry-box img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.post-media:hover img,
.masonry-box:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}



/*********************************
   blog的样式
**********************************/
.blog-list .blog-box {
    padding: 1rem 0;
}

.blog-list .blog-meta.big-meta h4 {
    background-color: #ffffff;
    margin-left: 0;
    margin-top: 0.5rem;
    padding: 0 0 0.5rem;
}

.blog-meta{
    position: relative;
    height: 150px;
}
.blog-log{
    position: absolute;
    bottom: 0;
}

.blog-meta small a,
.blog-meta small {
    font-weight: 500;
    color: #999 !important;
}
.blog-meta small {
    font-size: 11px;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.blog-meta small:after {
    content: "/";
    padding-left: 1rem;
}

.blog-meta small:last-child:after {
    content: ""
}

.fa-star {
    font-size: 12px;
    margin: 0 -2px 0 0;
}



.blog-meta small.firstsmall:after {
    content: "" !important;
    padding-left: 0;
}
.blog-meta .rating {
    display: block;
    margin-top: 1rem;
}
/*1rem等于html根（默认或者全局)字体大小*/
.blog-box {
    padding: 1rem;
    background-color: #ffffff;
}

.blog-meta.big-meta p {
    margin-bottom: 1rem;
}

.blog-meta.big-meta h4 {
    padding: 1rem 0 0.6rem;
    margin: 0;
    font-size: 28px;
}
.blog-meta.big-meta h4 a{
    color: #333333;
    text-decoration: none;
}
.blog-meta.big-meta h4 a:hover{
    color: #2aabd2;
}
.blog-meta.big-meta p {
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
}
.blog-meta .bg-orange {
    color: #ffffff !important;
    padding: 0 0.8rem;
    border-radius: 3px;
}
.bg-orange {
    background-color: #FF6347 !important;
}

.page-title .bg-orange,
.masonry-box:hover .blog-meta span.bg-orange,
.color-orange a {
    background-color: #FF6347 !important;
}

.blog-time{
    position: relative;
    box-sizing: border-box;
    height: 150px;

}
.blog-time a{
    position: absolute;
    left: 30%;
    top: 20%;
}
.blog-time a:hover{
    text-decoration: none;
}
.blog-time em{
    display: block;
    color: #2aabd2;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 5px;
    font-family: "HELVETI1";

}
.blog-time span{
    display: block;
    color: #2aabd2;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    font-family: "HELVETI1";
    text-decoration: none;
}



/*****************************************
    hr的样式
*****************************************/

hr.invis {
    border: 0;
    margin: 2rem 0;
}

hr.invis1 {
    border: 0;
    margin: 4rem 0;
}

hr.invis2 {
    border: 0;
    margin: 6rem 0;
}

hr.invis3 {
    border: 0;
    margin: 0;
}


/************************************
    btn
************************************/
.btn,
.page-link:hover,
.page-link:focus,
.btn:hover,
.btn:focus {
    color: #ffffff !important;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0091e5 0px, #00b7e5 100%) repeat scroll 0 0 !important
}