<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成员企业</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../statics/css/style.css" rel="stylesheet">
    <link href="../../statics/lib/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../../statics/css/animate.min.css" rel="stylesheet">
    <link href="../../statics/css/swiper-3.4.0.min.css" rel="stylesheet">
    <link href="../../statics/lib/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../statics/lib/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../statics/lib/bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="../../statics/js/swiper-3.4.0.jquery.min.js"></script>
    <script src="../../statics/js/swiper.animate1.0.2.min.js"></script>
    <script src="../../statics/js/common.js"></script>
    <style type="text/css">
        /* ----------------------------------------------
member-firms
------------------------------------------------- */
        .member-firms {
        }

        .member-firms .thumbnail {
            padding          : 0;
            margin-bottom    : 40px;
            line-height      : 22px;
            background-color : #ffffff;
            border           : 0;
        }

        @media (max-width : 767px) {
            .member-firms .thumbnail {
                margin-bottom : 30px;
            }
        }

        .member-firms .thumbnail img {
            width : 100%;
        }

        .member-firms .thumbnail .caption {
            padding          : 15px 0;
            background-color : #f9f9f9;
            color            : #313131;
        }

        .member-firms .thumbnail h3 small {
            font-size      : 11px;
            color          : #a3a2a2;
            text-transform : uppercase;
        }

        .member-firms .thumbnail h3 {
            font-size      : 16px;
            text-transform : capitalize;
            margin         : 0;
        }

    </style>
</head>
<body>
<section class="member-firms ptb-50">
    <section class="section-title">
        <div class="container text-center">
            <h2>成员企业</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95508.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            广发银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95533.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            中国建设银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95555.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            招商银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95558.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            中信银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95559.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            交通银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95561.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            兴业银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95566.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            中国银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95568.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            中国民生银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95588.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            中国工商银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95595.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            中国光大银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95599.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            中国农业银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="thumbnail">
                    <a href="#"><img src="../../statics/images/95508.png" alt="image" class="img-responsive"></a>
                    <figcaption class="caption text-center">
                        <h3>
                            广发银行
                        </h3>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
</body>
</html>