<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../statics/css/style.css" rel="stylesheet">
    <link href="../../statics/lib/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../../statics/css/animate.min.css" rel="stylesheet">
    <link href="../../statics/css/swiper-3.4.0.min.css" rel="stylesheet">
    <link href="../../statics/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../statics/lib/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../statics/lib/bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="../../statics/js/swiper-3.4.0.jquery.min.js"></script>
    <script src="../../statics/js/swiper.animate1.0.2.min.js"></script>
    <script src="../../statics/js/common.js"></script>
</head>
<body>
<div class="view-passage">
    <div class="container">
        <div class="row">
            <h5 class="text-center">融资担保</h5>
            <i></i>
            <div class="content text-center">
                <p style="text-indent: 4rem"><strong>抚州金控融资担保集团有限公司</strong>是抚州市金融控股有限公司的子公司，注册成立于2017年7月。

                </p>

                <p style="text-indent: 4rem">公司主营融资担保业务、非融资担保业务、再担保业务等，主要服务辖内中小企业融资担保需求及非融业务需求，多渠道、多层次缓解中小企业融资难、融资贵的问题，并承担全市融资担保体系的建设重任。</p>

                <p style="text-indent: 4rem">2021年担保公司将充分发挥政府性融资平台的增信、降费、分险功能，以帮助企业解决担保难、贷款难、融资难等问题为宗旨，贯彻落实中央对中小企业减费税降的政策，并不断创新金融服务方式，助力中小微企业健康发展。计划融资担保业务规模达到70亿元。</p>

                <p style="text-indent: 4rem">融资担保集团公司作为抚州市实力较强、规模较大的政府性融资担保机构，成功进入江西省政府性融资担保机构第一批名单中，并于2019年成功对接国家融资担保基金，建立了市县一体的融资担保体系。</p>
                <p style="text-align: center">
                    <img align="center" src="../../statics/images/fund_1.png">
                </p>
            </div>
            <div class="link">
                <p class="text_id"><span></span><a></a></p>
                <p class="text_id"><span></span><a></a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>