<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../statics/css/style.css" rel="stylesheet">
    <link href="../../statics/lib/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../../statics/css/animate.min.css" rel="stylesheet">
    <link href="../../statics/css/swiper-3.4.0.min.css" rel="stylesheet">
    <link href="../../statics/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../statics/lib/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../statics/lib/bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="../../statics/js/swiper-3.4.0.jquery.min.js"></script>
    <script src="../../statics/js/swiper.animate1.0.2.min.js"></script>
    <script src="../../statics/js/common.js"></script>
</head>
<body>
<div class="view-passage">
    <div class="container">
        <div class="row">
            <h5 class="text-center">资产管理</h5>
            <i></i>
            <div class="content text-center">
                <p style="text-indent: 4rem"><strong>抚州金控资产管理有限公司</strong>是抚州市金融控股有限公司的子公司，注册成立于2017年9月。</p>

                <p style="text-indent: 4rem">本公司目前主要经营项目为应收账款融资，且业务全面广泛，可以提供高效优质的应收账款融资服务，接下来本公司将不断扩大营业范围，包含销售分户账户管理、应收账款催收、坏账担保、客户资信调查与评估。不断扩大企业业务范围，提升企业服务品质。</p>

                <p style="text-align: center">
                    <img align="center" src="../../statics/images/fund_1.png">
                </p>
            </div>
            <div class="link">
                <p class="text_id"><span></span><a></a></p>
                <p class="text_id"><span></span><a></a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>