<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务详情页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../statics/css/style.css" rel="stylesheet">
    <link href="../../statics/lib/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../../statics/css/animate.min.css" rel="stylesheet">
    <link href="../../statics/css/swiper-3.4.0.min.css" rel="stylesheet">
    <link href="../../statics/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../statics/lib/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../statics/lib/bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="../../statics/js/swiper-3.4.0.jquery.min.js"></script>
    <script src="../../statics/js/swiper.animate1.0.2.min.js"></script>
    <script src="../../statics/js/common.js"></script>
</head>
<body>
<div class="view-passage">
    <div class="container">
        <div class="row">
            <h5 class="text-center">融资担保</h5>
            <i></i>
            <div class="content ">
                <p style="text-indent: 4rem"><strong>抚州金控供应链管理有限公司</strong>是抚州市金融控股有限公司的二级公司，注册成立于2018年7月。</p>

                <p style="text-indent: 4rem">公司主要经营业务是企业供应链管理和供应链外包服务；企业管理咨询；仓储设施经营管理等</p>

                <p style="text-indent: 4rem">公司供应链主要围绕核心企业，以原材料出发，为企业提供上下游之间的代理采购服务。公司的经营理念是从消费者的角度，通过企业间的协作，谋求供应链整体最佳化</p>

                <p style="text-align: center">
                    <img align="center" src="../../statics/images/fund_1.png">
                </p>
            </div>
            <div class="link">
                <p class="text_id"><span></span><a></a></p>
                <p class="text_id"><span></span><a></a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>