<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>集团动态</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/news.css" rel="stylesheet">
    <link href="../../assets/css/carousel.css" rel="stylesheet">
    <link href="../../assets/css/responsive.css" rel="stylesheet">
    <link href="../../statics/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../../assets/css/animate.min.css"  rel="stylesheet">
    <link href="../../assets/css/swiper-3.4.0.min.css" rel="stylesheet">
    <link href="../../statics/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="../../statics/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../statics/bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="../../assets/js/swiper-3.4.0.jquery.min.js"></script>
    <script src="../../assets/js/swiper.animate1.0.2.min.js"></script>
    <script src="../../assets/js/common.js"></script>
</head>
<body>
    <section class="news section ptb-50">
        <div class="container">
            <div class="row">
                <div class="blog-list clearfix">
                    <div class="blog-box row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <a href="news_detail.html" title="">
                                    <img src="../../assets/images/会议图片1.jpg" alt="" class="img-responsive" style="height: 150px">
                                    <div class="hovereffect">

                                    </div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-7" style="height: 150px">
                            <h4><a href="news_detail.html" title="">金控担保集团顺利召开全市融资担保工作会</a></h4>
                            <p>2021年7月16日，金控担保集团组织召开了全市融资担保工作会。
                                省融担高级经理罗慎、市金融办市场科邓志辉、市金
                                融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责
                                人和业务经办人员参会。
                            </p>
                            <div class="blog-log">
                                <small class="firstsmall"><a class="bg-orange" href="#" title="">集团动态</a></small>
                                <small><a href="news_source.html" title="">编辑 抚州金控</a></small>
                                <small><a href="news_detail.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div>
                        </div><!-- end meta -->
                        <div class="blog-time col-md-2">
                            <a>
                                <em>23</em>
                                <span>2021-07</span>
                            </a>
                        </div>
                    </div><!-- end blog-box -->
                    <hr class="">

                    <div class="blog-box row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <a href="news_detail.html" title="">
                                    <img src="../../assets/images/会议图片1.jpg" alt="" class="img-responsive" style="height: 150px">
                                    <div class="hovereffect">

                                    </div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-7" style="height: 150px">
                            <h4><a href="news_detail.html" title="">金控担保集团顺利召开全市融资担保工作会</a></h4>
                            <p>2021年7月16日，金控担保集团组织召开了全市融资担保工作会。
                                省融担高级经理罗慎、市金融办市场科邓志辉、市金
                                融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责
                                人和业务经办人员参会。
                            </p>
                            <div class="blog-log">
                                <small class="firstsmall"><a class="bg-orange" href="#" title="">集团动态</a></small>
                                <small><a href="news_source.html" title="">编辑 抚州金控</a></small>
                                <small><a href="news_detail.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div>
                        </div><!-- end meta -->
                        <div class="blog-time col-md-2">
                            <a>
                                <em>23</em>
                                <span>2021-07</span>
                            </a>
                        </div>
                    </div><!-- end blog-box -->
                    <hr class="">

                    <div class="blog-box row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <a href="news_detail.html" title="">
                                    <img src="../../assets/images/会议图片1.jpg" alt="" class="img-responsive" style="height: 150px">
                                    <div class="hovereffect">

                                    </div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-7" style="height: 150px">
                            <h4><a href="news_detail.html" title="">金控担保集团顺利召开全市融资担保工作会</a></h4>
                            <p>2021年7月16日，金控担保集团组织召开了全市融资担保工作会。
                                省融担高级经理罗慎、市金融办市场科邓志辉、市金
                                融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责
                                人和业务经办人员参会。
                            </p>
                            <div class="blog-log">
                                <small class="firstsmall"><a class="bg-orange" href="#" title="">集团动态</a></small>
                                <small><a href="news_source.html" title="">编辑 抚州金控</a></small>
                                <small><a href="news_detail.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div>
                        </div><!-- end meta -->
                        <div class="blog-time col-md-2">
                            <a>
                                <em>23</em>
                                <span>2021-07</span>
                            </a>
                        </div>
                    </div><!-- end blog-box -->
                    <hr class="">

                    <div class="blog-box row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <a href="news_detail.html" title="">
                                    <img src="../../assets/images/会议图片1.jpg" alt="" class="img-responsive" style="height: 150px">
                                    <div class="hovereffect">

                                    </div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-7" style="height: 150px">
                            <h4><a href="news_detail.html" title="">金控担保集团顺利召开全市融资担保工作会</a></h4>
                            <p>2021年7月16日，金控担保集团组织召开了全市融资担保工作会。
                                省融担高级经理罗慎、市金融办市场科邓志辉、市金
                                融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责
                                人和业务经办人员参会。
                            </p>
                            <div class="blog-log">
                                <small class="firstsmall"><a class="bg-orange" href="#" title="">集团动态</a></small>
                                <small><a href="news_source.html" title="">编辑 抚州金控</a></small>
                                <small><a href="news_detail.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div>
                        </div><!-- end meta -->
                        <div class="blog-time col-md-2">
                            <a>
                                <em>23</em>
                                <span>2021-07</span>
                            </a>
                        </div>
                    </div><!-- end blog-box -->
                    <hr class="">

                    <div class="blog-box row">
                        <div class="col-md-3">
                            <div class="post-media">
                                <a href="news_detail.html" title="">
                                    <img src="../../assets/images/会议图片1.jpg" alt="" class="img-responsive" style="height: 150px">
                                    <div class="hovereffect">

                                    </div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-7" style="height: 150px">
                            <h4><a href="news_detail.html" title="">金控担保集团顺利召开全市融资担保工作会</a></h4>
                            <p>2021年7月16日，金控担保集团组织召开了全市融资担保工作会。
                                省融担高级经理罗慎、市金融办市场科邓志辉、市金
                                融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责
                                人和业务经办人员参会。
                            </p>
                            <div class="blog-log">
                                <small class="firstsmall"><a class="bg-orange" href="#" title="">集团动态</a></small>
                                <small><a href="news_source.html" title="">编辑 抚州金控</a></small>
                                <small><a href="news_detail.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                            </div>
                        </div><!-- end meta -->
                        <div class="blog-time col-md-2">
                            <a>
                                <em>23</em>
                                <span>2021-07</span>
                            </a>
                        </div>
                    </div><!-- end blog-box -->
                    <hr class="">

                </div>
            </div>
        </div>
    </section>
</body>
</html>