<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>媒体焦距</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/news.css" rel="stylesheet">
    <link href="../assets/css/colors.css" rel="stylesheet">
    <link href="../assets/css/carousel.css" rel="stylesheet">
    <link href="../assets/css/responsive.css" rel="stylesheet">
    <link href="../statics/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/animate.min.css"  rel="stylesheet">
    <link href="../assets/css/swiper-3.4.0.min.css" rel="stylesheet">
    <link href="../statics/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="../statics/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../statics/bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="../assets/js/swiper-3.4.0.jquery.min.js"></script>
    <script src="../assets/js/swiper.animate1.0.2.min.js"></script>
    <script src="../assets/js/common.js"></script>
</head>
<body>

</body>
</html>